main {
	min-height: 500px;
}

footer a:hover {
	text-decoration: none;
}

a, footer a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}

footer nav a {
    color: rgba(255, 255, 255, 0.5) !important;
}

footer nav a:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

.success-url {
	background-color: #e9ecef;
	min-height: calc(2.15rem + 2px);
	word-wrap: break-word;
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
    line-height: 1.6;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}